body
{
	padding-top: 60px;
}

form.form-no-margin
{
	margin-bottom: 0;
}


ul#items>li:nth-child(3n+1)
{
  clear: both;
}

.thumbnails > li
{
	min-height: 100%;
}
.sidenav.affix {
  top: 60px;
  width: 180px;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 180px;
}

/*
  Widescreen
 */
@media (min-width: 1200px) {
  .sidenav.affix
  {
    width:230px;
  }
}

/*
  Tablet to desktop
 */
@media (min-width: 768px) and (max-width: 979px) {
  .sidenav.affix {
    top:20px;
    width:126px;
  }
}
/*
  Tablet
 */
@media (max-width: 767px) {
  .sidenav.affix {
    position: static;
    width: auto;
  }
}
