
/* line 13, ../sass/style.scss */
body {
  padding-top: 60px;
}

/* line 18, ../sass/style.scss */
form.form-no-margin {
  margin-bottom: 0;
}

/* line 23, ../sass/style.scss */
div#menu > h1 {
  padding-top: 25px;
}

/* line 28, ../sass/style.scss */
div#menu > h1:first {
  margin-top: -50px;
}

/* line 34, ../sass/style.scss */
ul#items > li:nth-child(3n+1) {
  clear: both;
}

/* line 39, ../sass/style.scss */
.thumbnails > li {
  min-height: 100%;
}

img.menuitem
{
  min-width: 100%;
}

/* line 42, ../sass/style.scss */
.sidenav.affix {
  top: 60px;
  width: 180px;
}

/* line 46, ../sass/style.scss */
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 180px;
}

/*
  Widescreen
 */
@media (min-width: 1200px) {
  /* line 57, ../sass/style.scss */
  .sidenav.affix {
    width: 230px;
  }
}
/*
  Tablet to desktop
 */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 66, ../sass/style.scss */
  .sidenav.affix {
    top: 20px;
    width: 126px;
  }

  div#menu>h1
  {
    padding-top: 0;
  }
}
/*
  Tablet
 */
@media (max-width: 767px) {
  /* line 75, ../sass/style.scss */
  .sidenav.affix {
    position: static;
    width: auto;
  }
}
/* Menu item rollover
 -------------------*/
/* line 85, ../sass/style.scss */
.contenthover {
  padding: 5px;
  color: #ffffff;
  margin: auto 0;
}

form#favorite
{
  display: none;
}

/* Fill in the star on hover */
i.add-favorite:hover
{
  background-position: -120px 0;
}

/* Empty the star on hover */
i.remove-favorite:hover
{
  background-position: -144px 0;
}

.notloggedin
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}

input.input-tiny
{
  width: 20px;
}

div#cart-container
{
  font-size: small;
}

li.cart-item
{
  padding-bottom: 10px;
}

li.cart-item>span.item-quantity
{
  float: left;
  margin-left: -20px;
}